.i8,
.largerthan8 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 44px;
}
.i8 {
  height: 93.18%;
  width: 8.91%;
  left: 91.09%;
  font-size: var(--font-size-6xl);
  font-family: var(--font-courgette);
  display: inline-block;
}
.largerthan-parent5 {
  height: 44px;
  width: 125.7px;
  position: relative;
  display: none;
}
.secondary-button-text5 {
  height: 19px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.input15,
.secondary-button11 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
}
.secondary-button11 {
  width: 24.89%;
  right: -0.02%;
  left: 75.13%;
  background-color: var(--background-paper-elevation-0);
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-13xl);
}
.input15 {
  width: 83.88%;
  right: 16.12%;
  left: 0;
  border: 1px solid var(--color-aliceblue-100);
}
.your-email6 {
  position: absolute;
  top: 34.38%;
  left: 4.41%;
  color: var(--color-aliceblue-100);
  text-align: left;
  opacity: 0.8;
}
.form-field6 {
  position: absolute;
  height: 30.77%;
  width: 100%;
  top: 69.23%;
  right: 0;
  bottom: 0;
  left: 0;
}
.subscribe-to-get5 {
  position: absolute;
  width: 80.93%;
  top: 0;
  left: 0;
  font-size: var(--font-size-21xl);
  line-height: 140%;
  display: inline-block;
  color: var(--background-paper-elevation-0);
  text-align: left;
}
.form6 {
  height: 208px;
  width: 546.5px;
  position: relative;
  display: none;
  max-width: 100%;
  text-align: right;
  font-size: var(--paragraph-size);
  color: var(--color-gray-100);
}
.bg13 {
  height: 402px;
  width: 1508px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 201px);
  right: -802px;
  background-color: var(--black);
}
.home8 {
  font-size: var(--paragraph-size);
  color: var(--background-paper-elevation-0);
}
.about-us10,
.contact8,
.home8,
.team6,
.what-we-do9 {
  position: relative;
  line-height: 160%;
}
.our-team6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.more13 {
  font-size: var(--paragraph-size);
  color: var(--background-paper-elevation-0);
}
.blog6,
.donate6,
.events6,
.more13,
.projects7 {
  position: relative;
  line-height: 160%;
}
.more12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.connect13 {
  font-size: var(--paragraph-size);
  color: var(--background-paper-elevation-0);
}
.connect13,
.facebook6,
.instagram6,
.linkdin6,
.twitter6 {
  position: relative;
  line-height: 160%;
}
.connect12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.footer-instance,
.footer13,
.links6 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.links6 {
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  z-index: 1;
}
.footer-instance,
.footer13 {
  justify-content: flex-start;
}
.footer-instance {
  width: 368px;
  align-items: flex-start;
  position: relative;
  font-size: var(--text-body-2-size);
  color: var(--color-gray-600);
}
.footer13 {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-67xl) var(--padding-318xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--icon-medium-size);
  color: var(--background-paper-elevation-0);
  font-family: var(--paragraph);
}
.footer-links-and-social-media {
  width: 189px;
  height: 102px;
  position: absolute;
  margin: 0 !important;
  top: 71px;
  left: 99px;
  object-fit: cover;
  z-index: 2;
}
.footer12 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
@media screen and (max-width: 1050px) {
  .subscribe-to-get5 {
    font-size: var(--font-size-13xl);
    line-height: 45px;
  }
  .footer13 {
    padding-left: var(--padding-149xl);
    padding-right: var(--padding-149xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .footer13 {
    padding-left: var(--padding-65xl);
    padding-right: var(--padding-65xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .i8,
  .largerthan8 {
    font-size: var(--font-size-lgi);
    line-height: 35px;
  }
  .i8 {
    font-size: var(--typography-h6-size);
  }
  .subscribe-to-get5 {
    font-size: var(--icon-medium-size);
    line-height: 34px;
  }
  .links6 {
    flex-wrap: wrap;
  }
  .footer13 {
    padding: var(--padding-37xl) var(--padding-xl);
    box-sizing: border-box;
  }
}
