.gender1,
.radio {
  position: relative;
}
.gender1 {
  width: 149px;
  height: 28px;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.radio {
  cursor: pointer;
  accent-color: #7a5cfa;
  margin: 0;
  height: 24px;
  width: 24px;
}
.radio-selection {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 27px;
  max-width: 100%;
}
.gender-frame,
.radio-button1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.radio-button1 {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 16px;
  font-size: var(--paragraph-size);
  color: var(--color-dimgray-200);
}
.gender-frame {
  margin-top: 250px;
  flex-direction: column;
  gap: 6px 0;
}
.radio1 {
  border-color: var(--color-mediumslateblue-100);
  accent-color: #7a5cfa;
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.radio-selection1 {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 42px;
  max-width: 100%;
}
.horizontal-spacing-array,
.radio-button2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.radio-button2 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 16px;
  font-size: var(--paragraph-size);
  color: var(--color-dimgray-200);
}
.horizontal-spacing-array {
  width: 564px;
  flex-direction: column;
  gap: 32px 0;
  color: var(--color-dimgray-100);
}
.div135 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.blank-line2,
.text10 {
  margin: 0;
}
.blank-line3,
.blank-line4 {
  margin: 0;
  color: var(--color-darkslategray-100);
}
.hint-text {
  width: 988px;
  height: 115px;
  position: relative;
  line-height: 143%;
  display: inline-block;
  max-width: 111%;
  flex-shrink: 0;
}
.hint-text-frame-for-text-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  min-width: 581px;
  min-height: 139px;
  max-width: 100%;
}
.value3 {
  width: 94px;
  position: relative;
  line-height: 100%;
  color: var(--text-secondary-grey2);
  text-align: right;
  display: inline-block;
  flex-shrink: 0;
}


.frame-for-text-area,
.text-area4,
.text-block1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.text-block1 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--surface-light);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-xs);
  box-sizing: border-box;
  row-gap: 20px;
  color: var(--color-silver-100);
}
.frame-for-text-area,
.text-area4 {
  align-items: flex-start;
}
.text-area4 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  gap: 2px 0;
}
.frame-for-text-area {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-lg);
  box-sizing: border-box;
  font-size: var(--paragraph-size);
  color: var(--text-secondary-grey2);
  font-family: var(--font-ibm-plex-sans);
}

.checked {
  flex: 1;
  position: relative;
  line-height: 24px;
 
}
.checkbox31 {
  accent-color: #8b70fa;
  width: 186px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 16px;
  font-size: var(--paragraph-size);
}
.input-text-label10 {
  align-self: stretch;
  position: relative;
  line-height: 18px;
  font-weight: 600;
}
.icon98,
.type-here7 {
  height: 24px;
  position: relative;
}
.type-here7 {
  width: 130px;
  border: 0;
  outline: 0;
  font-family: var(--font-noto-sans);
  font-size: var(--paragraph-size);
  background-color: transparent;
  line-height: 24px;
  color: var(--color-dimgray-200);
  text-align: left;
  display: inline-block;
}

.input-field11,
.text11 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.text11 {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-187xs);
}
.input-field11 {
  border-radius: var(--br-5xs);
  background-color: var(--background-paper-elevation-0);
  border: 1px solid var(--color-lightgray);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mid) var(--padding-base)
    var(--padding-mini);
}
.assistive-text9 {
  align-self: stretch;
  height: 18px;
  position: relative;
  line-height: 18px;
  display: none;
}
.username5 {
  width: 206px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  gap: 8px 0;
}


.spacer12 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 12px);
  width: 100%;
}
.frame-spacer-array {
  width: 24px;
  height: 12px;
  position: relative;
}


.row210,
.spacing-horizontal12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row210 {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
}
.checkbox34 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.checked1 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.checkbox33 {
  accent-color: #8b70fa;
  width: 186px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 16px;
  font-size: var(--paragraph-size);
}

.row211,
.spacing-horizontal13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row211 {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
}
.checkbox36 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.unchecked {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.checkbox35 {
  accent-color: #8b70fa;
  width: 186px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 14px;
  font-size: var(--paragraph-size);
}


.row212,
.spacing-horizontal14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row212 {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
}
.checkbox38 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.unchecked1 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.checkbox37 {
  accent-color: #8b70fa;
  width: 186px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 14px;
  font-size: var(--paragraph-size);
}


.row213,
.spacing-horizontal15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row213 {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
}
.checkbox40 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.unchecked2 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.checkbox39 {
  accent-color: #8b70fa;
  width: 186px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 14px;
  font-size: var(--paragraph-size);
}

.row214,
.spacing-horizontal16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row214 {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
}
.checkbox42 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.unchecked3 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.checkbox41 {
  accent-color: #8b70fa;
  width: 186px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 14px;
  font-size: var(--paragraph-size);
}


.row215,
.spacing-horizontal17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row215 {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
}
.checkbox44 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.unchecked4 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.checkbox43 {
  accent-color: #8b70fa;
  width: 186px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 14px;
  font-size: var(--paragraph-size);
}

.row216,
.spacing-horizontal18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row216 {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
}
.checkbox46 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.unchecked5 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.checkbox45 {
  accent-color: #8b70fa;
  width: 186px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 14px;
  font-size: var(--paragraph-size);
}



.row217,
.spacing-horizontal19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row217 {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
}
.checkbox48 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.unchecked6 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.checkbox47 {
  width: 186px;
  accent-color: #8b70fa;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 14px;
  font-size: var(--paragraph-size);
}


.row218,
.spacing-horizontal20 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row218 {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
}
.checkbox50 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.unchecked7 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.checkbox49 {
  accent-color: #8b70fa;
  width: 186px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 14px;
  font-size: var(--paragraph-size);
}


.row219,
.spacing-horizontal21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row219 {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
}
.checkbox52 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.unchecked8 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.checkbox51 {
  accent-color: #8b70fa;
  width: 186px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 14px;
  font-size: var(--paragraph-size);
}


.row220,
.spacing-horizontal23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row220 {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
}
.checkbox54 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.unchecked9 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.checkbox53 {
  accent-color: #8b70fa;
  width: 186px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 14px;
  font-size: var(--paragraph-size);
}

.row221,
.spacing-horizontal23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row221 {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
}


.toggle1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 16px;
  font-size: var(--paragraph-size);
}
.buttons,
.buttons1 {
  height: 56px;
  width: 172px;
}
.buttons1 {
  cursor: pointer;
}
.cta3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.horizontal-spacing-array-parent {
  width: 2500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 41px 0;
  max-width: 100%;
  flex-shrink: 0;
}
.add-child-inner {
   width: 1430px; 
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-60xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--typography-caption-size);
  color: var(--color-dimgray-200);
  font-family: var(--font-noto-sans);
}
@media screen and (max-width: 2000px) {
  .add-child-inner {
    padding-bottom: var(--padding-32xl);
    box-sizing: border-box;
  }
}

