
.what-we-do3 {
  position: absolute;
  top: 1800px;
  
  left: 0;
  background-color: var(--yellow-light);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-77xl) var(--padding-91xl);
  box-sizing: border-box;
  gap: var(--gap-77xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--h2-size);
  color: var(--color-gray-100);
  font-family: var(--paragraph);
}
@media screen and (max-width: 1250px) {

  .what-we-do3 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {

  .what-we-do3 {
    gap: var(--gap-77xl);
    padding-left: var(--padding-36xl);
    padding-right: var(--padding-36xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {

  .what-we-do3 {
    gap: var(--gap-77xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
