.what-we-do33 {
  margin-top: auto;
  background-color: var(--yellow-light);
  width: 100%;
  padding: var(--padding-77xl) var(--padding-91xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--h2-size);
  color: var(--color-gray-100);
  font-family: var(--paragraph);
 
 

}

.secondary-button5 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.secondary-button5 .our-journey-section-2 {
  width: 100%;
}

.secondary-button5 .vision-section .our-journey {
  margin-left: -80px;
}

.secondary-button5 .vision-section .our-journey1 {
  margin-left: -80px;
}

.secondary-button5 .vision-section .how-we-raised {
  margin-left: -60px;
}

.secondary-button5 .vision-section .lorem-ipsum-dolor7 {
  margin-left: -60px;
}

@media screen and (max-width: 750px) {
  .secondary-button5 .image-icon {
    display: none;
  }
} 

 @media screen and (max-width: 450px) {
  .secondary-button5 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
  }
}


