.icon110 {
  width: 238px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.recovery-password1 {
  position: relative;
  font-weight: 500;
}
.recovery-password-frame,
.rectangle2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.recovery-password-frame {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.email3,
.form-email {
  position: relative;
  box-sizing: border-box;
}
.email3 {
  width: 80px;
  display: inline-block;
  padding-right: var(--padding-xl);
}
.form-email {
  border: 1px solid var(--color-mediumslateblue-200);
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 55px;
  border-radius: var(--br-9xs);
  min-width: 250px;
}
.parent-frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px 0;
  font-size: var(--icon-medium-size);
}
.button-recover1 {
  align-self: stretch;
  height: 55px;
  cursor: pointer;
}
.signin1 {
  color: var(--color-mediumblue);
}
.do-you-have-container1 {
  width: 266px;
  position: relative;
  font-size: var(--typography-h6-size);
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.child-frame2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 43px 0;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--components-switch-slidefill);
  font-family: var(--paragraph);
}
@media screen and (max-width: 750px) {
  .recovery-password1 {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 450px) {
  .email3,
  .recovery-password1 {
    font-size: var(--font-size-lgi);
  }
  .do-you-have-container1 {
    font-size: var(--paragraph-size);
  }
  .child-frame2 {
    gap: 43px 0;
  }
}
