.min-height {
  width: 1px;
  height: 24px;
  position: relative;
}
.spacing-vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 0;
}
.spacer {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 8px);
  width: 100%;
}
.singleline-item {
  width: 16px;
  height: 8px;
  position: relative;
}
.spacing-horizontal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.shape-icon {
  align-self: stretch;
  height: 24px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.library-logo-placeholder {
  width: 120px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.spacer1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 8px);
  width: 100%;
}
.frame {
  width: 16px;
  height: 8px;
  position: relative;
}
.logo,
.spacing-horizontal1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.min-height1 {
  width: 1px;
  height: 16px;
  position: relative;
}
.spacing-vertical1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.spacer2 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 8px);
  width: 100%;
}
.card-paper {
  width: 16px;
  height: 8px;
  position: relative;
}
.spacing-horizontal2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.starsharp-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.adorn-start-container,
.icon6 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.adorn-start-container {
  height: 1px;
  width: 32px;
  align-items: center;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
  z-index: 0;
}
.placeholder,
.value {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
}
.value {
  width: 196px;
  display: none;
  z-index: 1;
}
.placeholder {
  flex: 1;
  color: var(--text-disabled);
  z-index: 2;
}
.removeredeyefilled-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.adorn-end-container,
.content1 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.adorn-end-container {
  height: 1px;
  width: 24px;
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 0.5px);
  right: 0;
  display: none;
  z-index: 3;
}
.content1 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  position: relative;
  min-width: 24px;
  min-height: 24px;
  z-index: 0;
}
.label {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 12px;
}
.label-container {
  height: 2px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 12px;
  background-color: var(--background-paper-elevation-0);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  z-index: 1;
  font-size: var(--typography-caption-size);
  color: var(--text-secondary);
}
.helper-text,
.input4 {
  align-self: stretch;
  position: relative;
  display: flex;
}
.input4 {
  flex: 1;
  border-radius: var(--br-9xs);
  border: 1px solid var(--components-input-outlined-enabledborder);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) 0 var(--padding-2xs);
}
.helper-text {
  height: 20px;
  letter-spacing: 0.4px;
  line-height: 166%;
  align-items: center;
}
.formhelpertext,
.textfield {
  align-self: stretch;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.formhelpertext {
  padding: var(--padding-10xs) var(--padding-sm) 0;
  font-size: var(--typography-caption-size);
  color: var(--text-secondary);
}
.textfield {
  width: 224px;
}
.min-height2 {
  width: 1px;
  height: 8px;
  position: relative;
}
.spacing-vertical2 {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
}
.masked-icon {
  height: 20px;
  width: 16px;
  position: relative;
  display: none;
}
.button4 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}
.masked-icon1 {
  height: 20px;
  width: 16px;
  position: relative;
  display: none;
}
.base,
.button3 {
  align-items: center;
  justify-content: center;
}
.base {
  width: 45px;
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 0 8px;
}
.button3 {
  height: 36px;
  border-radius: var(--br-9xs);
  background-color: var(--primary-main);
  box-shadow: var(--elevation-2);
  overflow: hidden;
  display: none;
  flex-direction: column;
  padding: var(--padding-7xs) var(--padding-mini);
  box-sizing: border-box;
  font-size: var(--text-body-2-size);
  color: var(--background-paper-elevation-0);
}
.custom-actions-slot {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.spacer3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 8px);
  width: 100%;
}
.frame1 {
  width: 16px;
  height: 8px;
  position: relative;
}
.box,
.spacing-horizontal3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.box {
  align-self: stretch;
  height: 40px;
  flex-direction: row;
}
.min-height3 {
  width: 1px;
  height: 16px;
  position: relative;
}
.spacing-vertical3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.starsharp-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon7,
.left-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.left-content {
  flex-direction: column;
  padding: 0 var(--padding-13xl) 0 0;
  box-sizing: border-box;
  min-width: 56px;
}
.list-item3 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 150%;
}
.secondary {
  width: 132px;
  position: relative;
  font-size: var(--text-body-2-size);
  letter-spacing: 0.17px;
  line-height: 143%;
  color: var(--text-secondary);
  display: none;
}
.listitem-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
}
.expandlessfilled-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container1,
.right-action {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.right-action {
  height: 34px;
  width: 34px;
  border-radius: var(--br-81xl);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
}
.container1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
}
.min-height4 {
  width: 0;
  height: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divider {
  align-self: stretch;
  height: 0;
  position: relative;
  border-top: 1px solid var(--divider);
  box-sizing: border-box;
}
.divider-horizontal,
.listitem {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider-horizontal {
  width: 100%;
  height: 1px;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  display: none;
  z-index: 1;
}
.listitem {
  align-self: stretch;
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  position: relative;
  font-size: var(--paragraph-size);
}
.listitem1 {
  align-self: stretch;
  height: 36px;
  cursor: pointer;
}
.starsharp-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon9,
.left-content1 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.left-content1 {
  height: 24px;
  width: 56px;
  flex-direction: column;
  min-width: 56px;
}
.list-item4,
.secondary1 {
  position: relative;
  letter-spacing: 0.17px;
  line-height: 143%;
}
.list-item4 {
  align-self: stretch;
}
.secondary1 {
  width: 132px;
  color: var(--text-secondary);
  display: none;
}
.listitem-text1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
}
.starsharp-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container2,
.iconbutton {
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
}
.iconbutton {
  height: 40px;
  width: 40px;
  border-radius: var(--br-81xl);
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-5xs);
}
.container2 {
  width: 213px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base);
}
.min-height5 {
  width: 0;
  height: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divider1 {
  align-self: stretch;
  height: 0;
  position: relative;
  border-top: 1px solid var(--divider);
  box-sizing: border-box;
}
.divider-horizontal1 {
  width: 100%;
  height: 1px;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.listitem2,
.starsharp-icon4 {
  position: relative;
  overflow: hidden;
}
.listitem2 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.starsharp-icon4 {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
}
.icon11,
.left-content2 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.left-content2 {
  height: 24px;
  width: 56px;
  flex-direction: column;
  min-width: 56px;
}
.list-item5,
.secondary2 {
  position: relative;
  letter-spacing: 0.17px;
  line-height: 143%;
}
.list-item5 {
  align-self: stretch;
}
.secondary2 {
  width: 132px;
  color: var(--text-secondary);
  display: none;
}
.listitem-text2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
}
.starsharp-icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container3,
.iconbutton1 {
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
}
.iconbutton1 {
  height: 40px;
  width: 40px;
  border-radius: var(--br-81xl);
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-5xs);
}
.container3 {
  width: 213px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base);
}
.min-height6 {
  width: 0;
  height: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divider2 {
  align-self: stretch;
  height: 0;
  position: relative;
  border-top: 1px solid var(--divider);
  box-sizing: border-box;
}
.divider-horizontal2 {
  width: 100%;
  height: 1px;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.listitem3,
.starsharp-icon6 {
  position: relative;
  overflow: hidden;
}
.listitem3 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.starsharp-icon6 {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
}
.icon13,
.left-content3 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.left-content3 {
  height: 24px;
  width: 56px;
  flex-direction: column;
  min-width: 56px;
}
.list-item6,
.secondary3 {
  position: relative;
  letter-spacing: 0.17px;
  line-height: 143%;
}
.list-item6 {
  align-self: stretch;
}
.secondary3 {
  width: 132px;
  color: var(--text-secondary);
  display: none;
}
.listitem-text3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
}
.starsharp-icon7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container4,
.iconbutton2 {
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
}
.iconbutton2 {
  height: 40px;
  width: 40px;
  border-radius: var(--br-81xl);
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-5xs);
}
.container4 {
  width: 213px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base);
}
.min-height7 {
  width: 0;
  height: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divider3 {
  align-self: stretch;
  height: 0;
  position: relative;
  border-top: 1px solid var(--divider);
  box-sizing: border-box;
}
.divider-horizontal3 {
  width: 100%;
  height: 1px;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.custom-expandable-nav-item,
.listitem4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.listitem4 {
  border-radius: var(--br-9xs);
  overflow: hidden;
  align-items: flex-end;
  position: relative;
}
.custom-expandable-nav-item {
  align-items: flex-start;
  font-size: var(--text-body-2-size);
}
.starsharp-icon8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon15,
.left-content4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.left-content4 {
  flex-direction: column;
  padding: 0 var(--padding-13xl) 0 0;
  box-sizing: border-box;
  min-width: 56px;
}
.list-item7 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 150%;
}
.secondary4 {
  width: 132px;
  position: relative;
  font-size: var(--text-body-2-size);
  letter-spacing: 0.17px;
  line-height: 143%;
  color: var(--text-secondary);
  display: none;
}
.listitem-text4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
}
.expandlessfilled-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon16 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container5,
.right-action1 {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.right-action1 {
  height: 34px;
  width: 34px;
  border-radius: var(--br-81xl);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
}
.container5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
}
.min-height8 {
  width: 0;
  height: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divider4 {
  align-self: stretch;
  height: 0;
  position: relative;
  border-top: 1px solid var(--divider);
  box-sizing: border-box;
}
.divider-horizontal4 {
  width: 100%;
  height: 1px;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.listitem5,
.starsharp-icon9 {
  position: relative;
  overflow: hidden;
}
.listitem5 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--paragraph-size);
}
.starsharp-icon9 {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
}
.icon17,
.left-content5 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.left-content5 {
  height: 24px;
  width: 56px;
  flex-direction: column;
  min-width: 56px;
}
.list-item8,
.secondary5 {
  position: relative;
  letter-spacing: 0.17px;
  line-height: 143%;
}
.list-item8 {
  align-self: stretch;
}
.secondary5 {
  width: 132px;
  color: var(--text-secondary);
  display: none;
}
.listitem-text5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
}
.starsharp-icon10 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container6,
.iconbutton3 {
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
}
.iconbutton3 {
  height: 40px;
  width: 40px;
  border-radius: var(--br-81xl);
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-5xs);
}
.container6 {
  width: 213px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base);
}
.min-height9 {
  width: 0;
  height: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divider5 {
  align-self: stretch;
  height: 0;
  position: relative;
  border-top: 1px solid var(--divider);
  box-sizing: border-box;
}
.divider-horizontal5 {
  width: 100%;
  height: 1px;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.listitem6,
.starsharp-icon11 {
  position: relative;
  overflow: hidden;
}
.listitem6 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.starsharp-icon11 {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
}
.icon19,
.left-content6 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.left-content6 {
  height: 24px;
  width: 56px;
  flex-direction: column;
  min-width: 56px;
}
.list-item9,
.secondary6 {
  position: relative;
  letter-spacing: 0.17px;
  line-height: 143%;
}
.list-item9 {
  align-self: stretch;
}
.secondary6 {
  width: 132px;
  color: var(--text-secondary);
  display: none;
}
.listitem-text6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
}
.starsharp-icon12 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon20 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container7,
.iconbutton4 {
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
}
.iconbutton4 {
  height: 40px;
  width: 40px;
  border-radius: var(--br-81xl);
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-5xs);
}
.container7 {
  width: 213px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base);
}
.min-height10 {
  width: 0;
  height: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divider6 {
  align-self: stretch;
  height: 0;
  position: relative;
  border-top: 1px solid var(--divider);
  box-sizing: border-box;
}
.divider-horizontal6 {
  width: 100%;
  height: 1px;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.listitem7,
.starsharp-icon13 {
  position: relative;
  overflow: hidden;
}
.listitem7 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.starsharp-icon13 {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
}
.icon21,
.left-content7 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.left-content7 {
  height: 24px;
  width: 56px;
  flex-direction: column;
  min-width: 56px;
}
.list-item10,
.secondary7 {
  position: relative;
  letter-spacing: 0.17px;
  line-height: 143%;
}
.list-item10 {
  align-self: stretch;
  height: 20px;
  display: inline-block;
}
.secondary7 {
  width: 132px;
  color: var(--text-secondary);
  display: none;
}
.listitem-text7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
}
.starsharp-icon14 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon22 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container8,
.iconbutton5 {
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
}
.iconbutton5 {
  height: 40px;
  width: 40px;
  border-radius: var(--br-81xl);
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-5xs);
}
.container8 {
  width: 213px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-9xs)
    var(--padding-base);
  z-index: 0;
}
.min-height11 {
  width: 0;
  height: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divider7 {
  align-self: stretch;
  height: 0;
  position: relative;
  border-top: 1px solid var(--divider);
  box-sizing: border-box;
}
.divider-horizontal7 {
  width: 100%;
  height: 1px;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.listitem8,
.starsharp-icon15 {
  position: relative;
  overflow: hidden;
}
.listitem8 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.starsharp-icon15 {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
}
.icon23,
.left-content8 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.left-content8 {
  height: 24px;
  width: 56px;
  flex-direction: column;
  min-width: 56px;
}
.list-item11,
.secondary8 {
  position: relative;
  letter-spacing: 0.17px;
  line-height: 143%;
}
.list-item11 {
  align-self: stretch;
}
.secondary8 {
  width: 132px;
  color: var(--text-secondary);
  display: none;
}
.listitem-text8 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
}
.starsharp-icon16 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon24 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container9,
.iconbutton6 {
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
}
.iconbutton6 {
  height: 40px;
  width: 40px;
  border-radius: var(--br-81xl);
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-5xs);
}
.container9 {
  width: 213px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base);
}
.min-height12 {
  width: 0;
  height: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divider8 {
  align-self: stretch;
  height: 0;
  position: relative;
  border-top: 1px solid var(--divider);
  box-sizing: border-box;
}
.divider-horizontal8 {
  width: 100%;
  height: 1px;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.custom-expandable-nav-item1,
.listitem9 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.listitem9 {
  border-radius: var(--br-9xs);
  overflow: hidden;
  align-items: flex-end;
  position: relative;
}
.custom-expandable-nav-item1 {
  align-items: flex-start;
  font-size: var(--text-body-2-size);
}
.starsharp-icon17 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon25,
.left-content9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.left-content9 {
  flex-direction: column;
  padding: 0 var(--padding-13xl) 0 0;
  box-sizing: border-box;
  min-width: 56px;
}
.list-item12 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 150%;
}
.secondary9 {
  width: 132px;
  position: relative;
  font-size: var(--text-body-2-size);
  letter-spacing: 0.17px;
  line-height: 143%;
  color: var(--text-secondary);
  display: none;
}
.listitem-text9 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
}
.expandmorefilled-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon26 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container10,
.right-action2 {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.right-action2 {
  height: 34px;
  width: 34px;
  border-radius: var(--br-81xl);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
}
.container10 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
}
.min-height13 {
  width: 0;
  height: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divider9 {
  align-self: stretch;
  height: 0;
  position: relative;
  border-top: 1px solid var(--divider);
  box-sizing: border-box;
}
.divider-horizontal9 {
  width: 100%;
  height: 1px;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.listitem10 {
  border-radius: var(--br-9xs);
  overflow: hidden;
  position: relative;
}
.custom-expandable-nav-item2,
.listitem10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.starsharp-icon18 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon27,
.left-content10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.left-content10 {
  flex-direction: column;
  padding: 0 var(--padding-13xl) 0 0;
  box-sizing: border-box;
  min-width: 56px;
}
.list-item13 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 150%;
}
.secondary10 {
  width: 132px;
  position: relative;
  font-size: var(--text-body-2-size);
  letter-spacing: 0.17px;
  line-height: 143%;
  color: var(--text-secondary);
  display: none;
}
.listitem-text10 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
}
.starsharp-icon19 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon28 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container11,
.iconbutton7 {
  overflow: hidden;
  align-items: center;
}
.iconbutton7 {
  height: 40px;
  width: 40px;
  border-radius: var(--br-81xl);
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.container11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
}
.min-height14 {
  width: 0;
  height: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divider10 {
  align-self: stretch;
  height: 0;
  position: relative;
  border-top: 1px solid var(--divider);
  box-sizing: border-box;
}
.divider-horizontal10,
.listitem11 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider-horizontal10 {
  width: 100%;
  height: 1px;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  display: none;
  z-index: 1;
}
.listitem11 {
  align-self: stretch;
  display: flex;
  position: relative;
}
.starsharp-icon20 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon29,
.left-content11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.left-content11 {
  flex-direction: column;
  padding: 0 var(--padding-13xl) 0 0;
  box-sizing: border-box;
  min-width: 56px;
}
.list-item14 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 150%;
}
.secondary11 {
  width: 132px;
  position: relative;
  font-size: var(--text-body-2-size);
  letter-spacing: 0.17px;
  line-height: 143%;
  color: var(--text-secondary);
  display: none;
}
.listitem-text11 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
}
.starsharp-icon21 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon30 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container12,
.iconbutton8 {
  overflow: hidden;
  align-items: center;
}
.iconbutton8 {
  height: 40px;
  width: 40px;
  border-radius: var(--br-81xl);
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.container12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
}
.min-height15 {
  width: 0;
  height: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divider11 {
  align-self: stretch;
  height: 0;
  position: relative;
  border-top: 1px solid var(--divider);
  box-sizing: border-box;
}
.divider-horizontal11,
.listitem12 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider-horizontal11 {
  width: 100%;
  height: 1px;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  display: none;
  z-index: 1;
}
.listitem12 {
  align-self: stretch;
  display: flex;
  position: relative;
}
.starsharp-icon22 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon31,
.left-content12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.left-content12 {
  flex-direction: column;
  padding: 0 var(--padding-13xl) 0 0;
  box-sizing: border-box;
  min-width: 56px;
}
.list-item15 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 150%;
}
.secondary12 {
  width: 132px;
  position: relative;
  font-size: var(--text-body-2-size);
  letter-spacing: 0.17px;
  line-height: 143%;
  color: var(--text-secondary);
  display: none;
}
.listitem-text12 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
}
.starsharp-icon23 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon32 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container13,
.iconbutton9 {
  overflow: hidden;
  align-items: center;
}
.iconbutton9 {
  height: 40px;
  width: 40px;
  border-radius: var(--br-81xl);
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.container13 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
}
.min-height16 {
  width: 0;
  height: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divider12 {
  align-self: stretch;
  height: 0;
  position: relative;
  border-top: 1px solid var(--divider);
  box-sizing: border-box;
}
.divider-horizontal12 {
  width: 100%;
  height: 1px;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.listitem13 {
  align-self: stretch;
  position: relative;
}
.custom-sidenav,
.listitem13,
.ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ul {
  align-self: stretch;
  padding: var(--padding-9xs) var(--padding-5xs);
}
.custom-sidenav {
  height: 1360px;
  width: 285px;
  background-color: var(--background-paper-elevation-0);
  box-shadow: var(--elevation-1);
  z-index: 2;
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--text-primary);
  font-family: var(--paragraph);
}
