.march-2019,
.march-2020 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 150%;
  font-weight: 500;
}
.arrowdropdownfilled-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon39 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.current-month,
.iconbutton14 {
  display: flex;
  align-items: center;
}
.iconbutton14 {
  height: 34px;
  width: 34px;
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
}
.current-month {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  gap: 0 6px;
}
.chevronleftfilled-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon40 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconbutton15 {
  height: 34px;
  width: 34px;
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
}
.chevronrightfilled-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon41 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconbutton16 {
  height: 34px;
  width: 34px;
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
}
.controls,
.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.controls {
  height: 33px;
  align-items: flex-start;
  gap: 0 24px;
}
.row {
  align-self: stretch;
  overflow: hidden;
  align-items: center;
  padding: var(--padding-base) var(--padding-xs) var(--padding-5xs)
    var(--padding-5xl);
  text-align: left;
}
.fr,
.mo,
.sa,
.su,
.th,
.tu,
.we {
  height: 40px;
  flex: 1;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 166%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: 0 2px;
  font-size: var(--typography-caption-size);
  color: var(--text-disabled);
}
.go-to-calendar1,
.navbarbuttontext1 {
  height: 36px;
  flex: 1;
  position: relative;
  letter-spacing: 0.17px;
  line-height: 143%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container16,
.row2 {
  display: flex;
  flex-direction: row;
}
.container16 {
  width: 72px;
  align-items: flex-start;
  justify-content: flex-start;
}
.row2 {
  align-self: stretch;
  align-items: center;
  justify-content: flex-end;
  padding: 0 var(--padding-9xl);
}
.empty-frame,
.empty-frame1,
.empty-frame2,
.empty-frame3,
.header-frame,
.mask-container,
.mask-container1 {
  height: 36px;
  flex: 1;
  position: relative;
  letter-spacing: 0.17px;
  line-height: 143%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: 0 2px;
}
.div4,
.div5,
.none {
  height: 36px;
  flex: 1;
  position: relative;
  letter-spacing: 0.17px;
  line-height: 143%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.none {
  flex-shrink: 0;
}
.active {
  width: 36px;
  border-radius: var(--br-81xl);
  background-color: var(--primary-main);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0;
  box-sizing: border-box;
}
.div6,
.div7,
.div8,
.div9,
.mask2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mask2 {
  flex-direction: row;
  color: var(--background-paper-elevation-0);
}
.div6,
.div7,
.div8,
.div9 {
  height: 36px;
  flex: 1;
  position: relative;
  letter-spacing: 0.17px;
  line-height: 143%;
}
.row4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: 0 2px;
}
.div10,
.div11,
.div12,
.div13,
.div14,
.div15,
.div16 {
  height: 36px;
  flex: 1;
  position: relative;
  letter-spacing: 0.17px;
  line-height: 143%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: 0 2px;
}
.div17,
.div18,
.div19,
.div20,
.div21,
.div22,
.div23 {
  height: 36px;
  flex: 1;
  position: relative;
  letter-spacing: 0.17px;
  line-height: 143%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: 0 2px;
}
.div24,
.div25 {
  height: 36px;
  flex: 1;
  position: relative;
  letter-spacing: 0.17px;
  line-height: 143%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container17,
.row7 {
  display: flex;
  flex-direction: row;
}
.container17 {
  width: 74px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 2px;
}
.row7 {
  align-self: stretch;
  align-items: center;
  justify-content: flex-end;
  padding: 0 var(--padding-9xl);
}
.dates,
.desktopdatepicker {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dates {
  padding: var(--padding-xs) 0 var(--padding-7xl);
  gap: 2px 0;
  font-size: var(--text-body-2-size);
}
.desktopdatepicker {
  border-radius: var(--br-9xs);
  background-color: var(--background-paper-elevation-0);
  box-shadow: var(--elevation-8);
  overflow: hidden;
  padding: var(--padding-mini) 0 var(--padding-base);
  text-align: center;
  font-size: var(--paragraph-size);
  color: var(--text-primary);
  font-family: var(--paragraph);
}
