.navbar-wrapper {
  align-self: stretch;
  height: 97px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--icon-medium-size);
  color: var(--components-switch-slidefill);
  font-family: var(--paragraph);
}
