.username41 {
  width: 133px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.email-form {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 45px;
  position: relative;
}
.password4 {
  width: 127px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.password-form {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 45px;
  position: relative;
}
.chekbotton {
  height: 27px;
  width: 27px;
  position: relative;
  background-color: var(--color-gainsboro-100);
}
.remmber-me {
  position: relative;
  white-space: pre-wrap;
}
.check-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-8xs) 0;
  gap: 0 12px;
  font-size: var(--typography-h6-size);
}
.change-password {
  width: 182px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  cursor: pointer;
}
.button-sign-in {
  align-self: stretch;
  height: 55px;
  cursor: pointer;
}
.sign-in-text,
.username-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 26px 0;
  font-size: var(--typography-h6-size);
}
.username-parent {
  gap: 20px 0;
  text-align: left;
  font-size: var(--icon-medium-size);
  color: var(--components-switch-slidefill);
  font-family: var(--paragraph);
}
@media screen and (max-width: 450px) {
  .password4,
  .username41 {
    font-size: var(--font-size-lgi);
  }
  .change-password,
  .remmber-me {
    font-size: var(--paragraph-size);
  }
}


.signin1 {
  color: var(--color-mediumblue);
}
.do-you-have-container1 {
  width: 266px;
  position: relative;
  font-size: var(--typography-h6-size);
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}

