.i3,
.largerthan3 {
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.largerthan3 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.i3 {
  height: 41px;
  width: 11.1px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-courgette);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -19px;
}
.group-div {
  width: 132px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-us4,
.home3,
.media,
.what-we-do4 {
  width: 59px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.contact3 {
  position: relative;
  font-weight: 500;
}
.nav-link1 {
  width: 497px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-3xl) var(--padding-base)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--paragraph-size);
  color: var(--secondary-text);
}
.nav-button {
  height: 43px;
  width: 104px;
  cursor: pointer;
}
.navbar1 {
  margin-top: -9px;
  height: 106px;
  width: 1531px;
  background-color: var(--background-paper-elevation-0);
  backdrop-filter: blur(30px);
  border-bottom: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-xl) var(--padding-lg);
  gap: 0 289px;
  max-width: 102%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--icon-medium-size);
  color: var(--components-switch-slidefill);
  font-family: var(--paragraph);
}
@media screen and (max-width: 1200px) {
  .navbar1 {
    gap: 0 289px;
  }
}
@media screen and (max-width: 750px) {
  .group-div {
    display: none;
  }
  .navbar1 {
    width: 1399px;
    gap: 0 289px;
  }
}
@media screen and (max-width: 450px) {
  .nav-link1 {
    display: none;
  }
  .navbar1 {
    width: 1034px;
    gap: 0 289px;
  }
}
