.video-icon {
  width: 1600px;
  height: 500px;
  position: relative;
  max-height: 500px;
  max-width: 1500px;

}



.our-mission-section-child {
  width: 1500px;
  height: 867px;
  position: relative;
  background-color: var(--yellow-light);
  display: none;
  max-width: 100%;
}
.our-mission1 {
  position: relative;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
}
.our-mission-is,
.we-believe-that {
  align-self: stretch;
  position: relative;
  line-height: 160%;
  z-index: 1;
}
.our-mission-is {
  margin: 0;
  font-size: var(--h3-size);
  font-weight: 700;
  font-family: inherit;
}
.we-believe-that {
  color: var(--color-gray-400);
}
.how-we-empower-parents {
  width: 496px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px 0;
  max-width: 100%;
}
.our-vision2 {
  position: relative;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
}
.lorem-ipsum-dolor6,
.provide-more-inclusive {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.provide-more-inclusive {
  margin: 0;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
}
.lorem-ipsum-dolor6 {
  font-size: var(--paragraph-size);
  line-height: 160%;
  color: var(--color-gray-400);
}
.our-vision1,
.sri-lankan-government-support {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sri-lankan-government-support {
  align-self: stretch;
  gap: 8px 0;
  font-size: var(--h3-size);
}
.our-vision1 {
  width: 496px;
  gap: 16px 0;
  max-width: 100%;
}
.o-u-r-j-o-u-r-n-e-y,
.provide-inclusive-care {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.o-u-r-j-o-u-r-n-e-y {
  width: 1088px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.provide-inclusive-care {
  align-self: stretch;
  justify-content: flex-end;
}
.our-supporters2 {
  position: relative;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1;
}
.our-mission {
  width: 1184px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 44px 0;
  max-width: 100%;
}
.sri-lankan-government {
  position: relative;
  letter-spacing: 17px;
  text-transform: uppercase;
  font-weight: 500;
  white-space: pre-wrap;
  z-index: 1;
}
.bg-frame {
  width: 1018px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  text-align: center;
  color: var(--components-switch-slidefill);
}
.our-mission-section,
.our-vision {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.our-mission-section {
  background-color: var(--yellow-light);
  padding: var(--padding-301xl) var(--padding-97xl) var(--padding-85xl)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-33xl);
  margin-top: -224px;
}
.our-vision {
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--color-gray-100);
  font-family: var(--paragraph);
}
@media screen and (max-width: 1200px) {
  .o-u-r-j-o-u-r-n-e-y {
    flex-wrap: wrap;
  }
  .our-mission-section {
    padding-right: var(--padding-39xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .our-mission-section {
    padding-bottom: var(--padding-49xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .our-mission {
    gap: 44px 0;
  }
  .our-mission-section {
    gap: var(--gap-33xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .our-mission-is,
  .provide-more-inclusive {
    font-size: var(--font-size-3xl);
    line-height: 36px;
  }
  .provide-more-inclusive {
    line-height: 34px;
  }
  .our-mission-section {
    padding-bottom: var(--padding-25xl);
    box-sizing: border-box;
  }
}
