.unsplashcveoh-jjmee-icon {
  width: 410px;
  position: relative;
  border-radius: var(--br-xl);
  max-height: 100%;
  object-fit: cover;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.tint {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-900);
  z-index: 1;
}
.lorem-ipsum-dolor,
.name-of-vaccine {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.name-of-vaccine {
  margin: 0;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
}
.lorem-ipsum-dolor {
  font-size: var(--paragraph-size);
  line-height: 160%;
}
.container-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 58px 0;
}
.secondary-button3 {
  height: 51px;
  width: 146px;
  z-index: 2;
}
.primary-button-row,
.project {
  display: flex;
  justify-content: flex-start;
}
.primary-button-row {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.project {
  border-radius: var(--br-xl);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-61xl) var(--padding-29xl) var(--padding-29xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-45xl);
  background-image: url(/public/unsplashcveoh-jjmee@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: left;
  font-size: var(--h3-size);
  color: var(--background-paper-elevation-0);
  font-family: var(--paragraph);
}
@media screen and (max-width: 450px) {
  .name-of-vaccine {
    font-size: var(--font-size-3xl);
    line-height: 34px;
  }
}
