.our-supporters {
  position: relative;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  flex-shrink: 0;
}
.section-details-for-vaccines {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--border);
  box-sizing: border-box;
  min-width: 712px;
  max-width: 100%;
}
.text-supporters {
  position: absolute;
  top: 1520px;
  left: 130px;
  width: 1280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0 22px;
  max-width: 100%;
}
.ab-1-icon {
  position: absolute;
  top: 877px;
  left: 807px;
  width: 599px;
  height: 676px;
  object-fit: cover;
  z-index: 1;
}
.frame-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.home-page {
  width: 100%;
  height: 4850px;
  position: relative;
  background-color: var(--bg);
  /* overflow: hidden; */
  letter-spacing: normal;
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--color-gray-100);
  font-family: var(--paragraph);
}
@media screen and (max-width: 1250px) {
  .home-page {
    height: auto;
    min-height: 5405;
  }
}
@media screen and (max-width: 750px) {
  .section-details-for-vaccines {
    min-width: 100%;
  }
}
