
.frame-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.home-page {
  width: 100%;
  display: flex;
  height: auto;
  position: relative;
  background-color: var(--bg);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--color-gray-100);
  font-family: var(--paragraph);
}
@media screen and (max-width: 1250px) {
  .home-page {
    height: auto;
    min-height: 4500px;
  }
}
@media screen and (max-width: 750px) {
  .section-details-for-vaccines {
    min-width: 100%;
  
  }
}




