.icon2,
.login-frame-child {
  position: relative;
  max-width: 100%;
}
.login-frame-child {
  height: 1024px;
  width: 720px;
  background-color: var(--color-blanchedalmond-200);
  display: none;
}
.icon2 {
  width: 474px;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.login-frame {
  height: 1024px;
  width: 720px;
  background-color: var(--color-blanchedalmond-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-162xl) var(--padding-xl);
  box-sizing: border-box;
  min-width: 720px;
  max-width: 100%;
}
.welcome-to-babyvaxpro {
  position: relative;
  margin-top: 70px;
  font-weight: 500;
}
.icon3 {
  height: 118px;
  width: 238px;
  position: absolute;
  margin: 0 !important;
  left: 53px;
  top:-15px;
  object-fit: cover;
  z-index: 1;
}

.icon3-2 {
  height: 118px;
  width: 238px;
  position: absolute;
  margin: 0 !important;
  left: 10px;
  top:-15px;
  object-fit: cover;
  z-index: 1;
}
.title-text,
.welcome-to-babyvaxpro-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}


.welcome-to-babyvaxpro-parent {
  position: relative;
}
.title-text {
  padding: 0 var(--padding-9xl);
  box-sizing: border-box;
}
.title-text-parent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  gap: 39px 0;
  max-width: 100%;
}
.login,
.login-inner,
.title-text-parent {
  display: flex;
  justify-content: flex-start;
}
.login-inner {
  height: 576px;
  width: 446px;
  flex-direction: column;
  align-items: flex-start;
  min-width: 446px;
  max-width: 100%;
}
.login {
  height: 740px;
  width: 100%;
  position: relative;
  background-color: var(--background-paper-elevation-0);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: 0 127px;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--components-switch-slidefill);
  font-family: var(--paragraph);
}
@media screen and (max-width: 1225px) {
  .icon2,
  .login-frame,
  .login-inner {
    flex: 1;
  }
  .login {
    flex-wrap: wrap;
    gap: 0 127px;
  }
}
@media screen and (max-width: 1050px) {
  .login-frame {
    padding-top: var(--padding-99xl);
    padding-bottom: var(--padding-99xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .login-frame {
    padding-top: var(--padding-58xl);
    padding-bottom: var(--padding-58xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .welcome-to-babyvaxpro {
    font-size: var(--font-size-7xl);
  }
  .login-inner {
    min-width: 100%;
  }
  .login {
    gap: 0 127px;
  }
}
@media screen and (max-width: 450px) {
  .welcome-to-babyvaxpro {
    font-size: var(--font-size-lgi);
  }
  .title-text-parent {
    gap: 39px 0;
  }
  .login {
    gap: 0 127px;
  }
}
