.bg1,
.i1,
.largerthan1 {
  position: absolute;
  top: 0;
  left: 0;
}
.bg1 {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  background-color: var(--black);
}
.i1,
.largerthan1 {
  line-height: 44px;
}
.i1 {
  height: 93.18%;
  width: 8.88%;
  left: 91.12%;
  font-size: var(--font-size-6xl);
  font-family: var(--font-courgette);
  display: inline-block;
}
.largerthan-group {
  height: 44px;
  width: 125px;
  position: relative;
  display: none;
  z-index: 1;
}
.secondary-button-text1 {
  height: 19px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.input1,
.secondary-button1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
}
.secondary-button1 {
  width: 25%;
  right: 0;
  left: 75%;
  background-color: var(--background-paper-elevation-0);
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-13xl);
}
.input1 {
  width: 83.82%;
  right: 16.18%;
  left: 0;
  border: 1px solid var(--color-aliceblue-100);
}
.your-email1 {
  position: absolute;
  top: 34.38%;
  left: 4.41%;
  color: var(--color-aliceblue-100);
  text-align: left;
  opacity: 0.8;
}
.form-field1 {
  position: absolute;
  height: 30.77%;
  width: 100%;
  top: 69.23%;
  right: 0;
  bottom: 0;
  left: 0;
}
.subscribe-to-get1 {
  position: absolute;
  width: 80.88%;
  top: 0;
  left: 0;
  font-size: var(--font-size-21xl);
  line-height: 140%;
  display: inline-block;
  color: var(--background-paper-elevation-0);
  text-align: left;
}
.form1,
.home1 {
  font-size: var(--paragraph-size);
}
.form1 {
  height: 208px;
  width: 544px;
  position: relative;
  display: none;
  max-width: 100%;
  z-index: 2;
  text-align: right;
  color: var(--color-gray-100);
}
.home1 {
  color: var(--background-paper-elevation-0);
}
.about-us2,
.contact1,
.home1,
.team1,
.what-we-do1 {
  position: relative;
  line-height: 160%;
}
.our-team1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.more3 {
  font-size: var(--paragraph-size);
  color: var(--background-paper-elevation-0);
}
.blog1,
.donate1,
.events1,
.more3,
.projects1 {
  position: relative;
  line-height: 160%;
}
.more2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.connect3 {
  font-size: var(--paragraph-size);
  color: var(--background-paper-elevation-0);
}
.connect3,
.facebook1,
.instagram1,
.linkdin1,
.twitter1 {
  position: relative;
  line-height: 160%;
}
.connect2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.footer-wrapper,
.footer3,
.links1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.links1 {
  width: 366px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-xl);
  z-index: 1;
  font-size: var(--text-body-2-size);
  color: var(--color-gray-600);
}
.footer-wrapper,
.footer3 {
  justify-content: flex-start;
}
.footer3 {
  margin-bottom: -10px;
  flex: 1;
  align-items: center;
  padding: var(--padding-77xl) var(--padding-318xl) var(--padding-67xl);
  position: relative;
  flex-shrink: 0;
}
.footer-wrapper {
  align-self: stretch;
  height: 392px;
  align-items: flex-start;
  padding: 0;
  text-align: left;
  font-size: var(--icon-medium-size);
  color: var(--background-paper-elevation-0);
  font-family: var(--paragraph);
}
.donate-link-icon {
  width: 189px;
  height: 102px;
  position: absolute;
  margin: 0 !important;
  top: 71px;
  left: 100px;
  object-fit: cover;
  z-index: 2;
}
.footer2,
.vaccines {
  position: relative;
  display: flex;
  flex-direction: column;
}
.footer2 {
  align-self: stretch;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.vaccines {
  width: 100%;
  background-color: var(--bg);
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .subscribe-to-get1 {
    font-size: var(--font-size-13xl);
    line-height: 45px;
  }
  .footer3 {
    padding-left: var(--padding-149xl);
    padding-right: var(--padding-149xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .footer3 {
    padding-left: var(--padding-65xl);
    padding-right: var(--padding-65xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .i1,
  .largerthan1 {
    font-size: var(--font-size-lgi);
    line-height: 35px;
  }
  .i1 {
    font-size: var(--typography-h6-size);
  }
  .subscribe-to-get1 {
    font-size: var(--icon-medium-size);
    line-height: 34px;
  }
  .links1 {
    flex-wrap: wrap;
  }
  .footer3 {
    padding: var(--padding-43xl) var(--padding-xl) var(--padding-37xl);
    box-sizing: border-box;
  }
  .footer-wrapper {
    height: auto;
  }
}



.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup h3{
  margin-bottom: 50px;
}

.popup p{
  font-size: 12px;
  
}

.popup-content {
  background: #fff; /* White background for the popup content */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  text-align: center;
  width: 30%;
  
}

.popup button {
  margin: 0 10px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #123058;
  border: none;
  color: #fff;
  fill: #fff;
  opacity: 0.5;
  border-radius: 5px;
  
}

.popup button:hover {
  background-color: #123058;
  opacity: 1;
  
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}

.closs svg{
  width: 15px;
  margin-right: 10px;
  margin-top: -3px;
}
.closs h5{
  margin-top: 2px;
  
}

.closs{
  display: flex;
  flex-direction: row;
  height: 35px;
}
