.parent-frame-child {
  height: 1024px;
  width: 720px;
  position: relative;
  background-color: var(--color-blanchedalmond-200);
  display: none;
  max-width: 100%;
}
.child-frame-icon {
  width: 474px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.parent-frame {
  height: 1024px;
  width: 720px;
  background-color: var(--color-blanchedalmond-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-162xl) var(--padding-xl);
  box-sizing: border-box;
  min-width: 720px;
  max-width: 100%;
}
.child-frame1,
.forgot-password {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.child-frame1 {
  height: 646px;
  width: 446px;
  flex-direction: column;
  padding: 179px 0 0;
  box-sizing: border-box;
  min-width: 446px;
  max-width: 100%;
}
.forgot-password {
  width: 100%;
  position: relative;
  background-color: var(--background-paper-elevation-0);
  overflow: hidden;
  flex-direction: row;
  gap: 0 127px;
  letter-spacing: normal;
}
@media screen and (max-width: 1225px) {
  .child-frame-icon,
  .child-frame1,
  .parent-frame {
    flex: 1;
  }
  .forgot-password {
    flex-wrap: wrap;
    gap: 0 127px;
  }
}
@media screen and (max-width: 1050px) {
  .parent-frame {
    padding-top: var(--padding-99xl);
    padding-bottom: var(--padding-99xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .child-frame1,
  .parent-frame {
    box-sizing: border-box;
    min-width: 100%;
  }
  .parent-frame {
    padding-top: var(--padding-58xl);
    padding-bottom: var(--padding-58xl);
  }
  .child-frame1 {
    padding-top: var(--padding-97xl);
  }
  .forgot-password {
    gap: 0 127px;
  }
}
@media screen and (max-width: 450px) {
  .forgot-password {
    gap: 0 127px;
  }
}
