@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --paragraph: Roboto;
  --font-courgette: Courgette;
  --icon-medium: "Material Icons";
  --font-noto-sans: "Noto Sans";
  --font-ibm-plex-sans: "IBM Plex Sans";
  --font-inter: Inter;
  --body-small-body-small-400: Poppins;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-19xl: 38px;
  --paragraph-size: 16px;
  --font-size-6xl: 25px;
  --icon-medium-size: 24px;
  --h2-size: 48px;
  --font-size-10xl: 29px;
  --font-size-lgi: 19px;
  --h3-size: 28px;
  --font-size-3xl: 22px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --icon-large-size: 36px;
  --text-body-2-size: 14px;
  --typography-h6-size: 20px;
  --typography-caption-size: 12px;
  --h1-size: 56px;
  --font-size-26xl: 45px;
  --typography-h4-size: 34px;
  --chip-label-size: 13px;
  --font-size-8xl: 27px;
  --font-size-7xl: 26px;

  /* Colors */
  --bg: #fefdfc;
  --components-switch-knobfillenabled: #fafafa;
  --color-gray-100: #1d2130;
  --gray-scale-gray-900: #1a1a1a;
  --black: #0b0706;
  --action-selected: rgba(0, 0, 0, 0.08);
  --color-gray-200: rgba(255, 255, 255, 0.42);
  --components-input-outlined-enabledborder: rgba(0, 0, 0, 0.23);
  --color-gray-300: rgba(0, 0, 0, 0);
  --divider: rgba(0, 0, 0, 0.12);
  --text-disabled: rgba(0, 0, 0, 0.38);
  --black-026: rgba(0, 0, 0, 0.26);
  --text-primary: rgba(0, 0, 0, 0.87);
  --color-gray-400: rgba(29, 33, 48, 0.7);
  --color-gray-500: rgba(29, 33, 48, 0.6);
  --color-gray-600: rgba(255, 255, 255, 0.78);
  --color-gray-700: rgba(0, 0, 0, 0.1);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --color-gray-800: rgba(255, 255, 255, 0.6);
  --color-gray-900: rgba(11, 7, 6, 0.6);
  --color-gray-1000: rgba(0, 0, 0, 0.4);
  --background-paper-elevation-0: #fff;
  --gray-scale-gray-100: #e6e6e6;
  --border: #e5e5e5;
  --color-gainsboro-100: #d9d9d9;
  --color-dimgray-100: #706e6e;
  --color-dimgray-200: #666;
  --secondary-text: #525560;
  --color-dimgray-300: rgba(82, 85, 96, 0.6);
  --components-switch-slidefill: #000;
  --color-blanchedalmond-100: #fff0ca;
  --yellow-light: #fcedc6;
  --color-blanchedalmond-200: rgba(252, 237, 198, 0.5);
  --color-palevioletred: #f38fbf;
  --color-khaki: #f9cf64;
  --color-mediumpurple: #ac94f1;
  --green-secondary: #bdf3c0;
  --color-goldenrod: #f2c94c;
  --color-aliceblue-100: rgba(235, 240, 249, 0.3);
  --color-aliceblue-200: rgba(235, 240, 249, 0.8);
  --color-silver-100: #b8bcca;
  --components-avatar-fill: #bdbdbd;
  --success-main: #2e7d32;
  --success-dark: #1b5e20;
  --color-mintcream: #eff7f2;
  --custom-primary: #1976d2;
  --primary-main: #2196f3;
  --primary-selected: rgba(33, 150, 243, 0.08);
  --info-main: #0288d1;
  --info-dark: #01579b;
  --color-blueviolet-100: #9747ff;
  --color-blueviolet-200: rgba(151, 71, 255, 0.04);
  --yellow-yellow: #ffeb3b;
  --surface-light: #f8fafc;
  --f4: #f4f4f4;
  --color-lightgray: #ccc;
  --text-secondary-grey2: #6f7482;
  --color-darkslategray-100: #3b4256;
  --color-darkslategray-200: #333;
  --color-mediumslateblue-100: #7a5cfa;
  --color-mediumslateblue-200: #4d4ddb;
  --color-royalblue: #0275ff;
  --red: #eb5757;
  --color-indianred-100: #cd5454;
  --color-mediumblue: #2a2ad1;
  --gray-scale-gray-400: #999;

  /* Spacing */
  --boundvariablesdata: 8px;

  /* Gaps */
  --gap-111xl: 130px;
  --gap-0: 0px;
  --gap-15xl: 34px;
  --gap-29xl: 48px;
  --gap-xl: 20px;
  --gap-13xl: 32px;
  --gap-77xl: 96px;
  --gap-5xl: 24px;
  --gap-smi: 13px;
  --gap-6xs: 7px;
  --gap-base: 16px;
  --gap-47xl: 66px;
  --gap-4xl: 23px;
  --gap-45xl: 64px;
  --gap-39xl: 58px;
  --gap-61xl: 80px;
  --gap-65xl: 84px;
  --gap-9xl: 28px;
  --gap-20xl: 39px;
  --gap-5xs: 8px;
  --gap-51xl: 70px;
  --gap-33xl: 52px;
  --gap-25xl: 44px;
  --gap-10xs: 3px;
  --gap-11xs: 2px;
  --gap-54xl: 73px;
  --gap-37xl: 56px;
  --gap-4xs: 9px;
  --gap-69xl: 88px;
  --gap-14xl: 33px;
  --gap-248xl: 267px;
  --gap-xs: 12px;
  --gap-3xs: 10px;
  --gap-84xl: 103px;
  --gap-8xl: 27px;
  --gap-22xl: 41px;
  --gap-187xs: -174px;
  --gap-7xs: 6px;
  --gap-31xl: 50px;
  --gap-11xl: 30px;
  --gap-23xl: 42px;
  --gap-3xl: 22px;
  --gap-62xl: 81px;
  --gap-mini: 15px;
  --gap-75xl: 94px;
  --gap-19xl: 38px;
  --gap-24xl: 43px;
  --gap-7xl: 26px;

  /* Paddings */
  --padding-109xl: 128px;
  --padding-xl: 20px;
  --padding-45xl: 64px;
  --padding-8xl: 27px;
  --padding-5xs: 8px;
  --padding-4xs: 9px;
  --padding-lg: 18px;
  --padding-base: 16px;
  --padding-77xl: 96px;
  --padding-91xl: 110px;
  --padding-36xl: 55px;
  --padding-12xs: 1px;
  --padding-61xl: 80px;
  --padding-29xl: 48px;
  --padding-11xs: 2px;
  --padding-19xl: 38px;
  --padding-10xl: 29px;
  --padding-305xl: 324px;
  --padding-74xl: 93px;
  --padding-2xl: 21px;
  --padding-42xl: 61px;
  --padding-318xl: 337px;
  --padding-149xl: 168px;
  --padding-5xl: 24px;
  --padding-43xl: 62px;
  --padding-147xl: 166px;
  --padding-89xl: 108px;
  --padding-12xl: 31px;
  --padding-70xl: 89px;
  --padding-39xl: 58px;
  --padding-13xl: 32px;
  --padding-130xl: 149px;
  --padding-78xl: 97px;
  --padding-3xs: 10px;
  --padding-7xs: 6px;
  --padding-7xl: 26px;
  --padding-8xs: 5px;
  --padding-32xl: 51px;
  --padding-14xl: 33px;
  --padding-17xl: 36px;
  --padding-23xl: 42px;
  --padding-26xl: 45px;
  --padding-301xl: 320px;
  --padding-97xl: 116px;
  --padding-85xl: 104px;
  --padding-49xl: 68px;
  --padding-25xl: 44px;
  --padding-3xl: 22px;
  --padding-108xl: 127px;
  --padding-44xl: 63px;
  --padding-mini: 15px;
  --padding-30xl: 49px;
  --padding-56xl: 75px;
  --padding-62xl: 81px;
  --padding-48xl: 67px;
  --padding-22xl: 41px;
  --padding-21xl: 40px;
  --padding-58xl: 77px;
  --padding-31xl: 50px;
  --padding-xs: 12px;
  --padding-9xl: 28px;
  --padding-484xl: 503px;
  --padding-232xl: 251px;
  --padding-9xs: 4px;
  --padding-10xs: 3px;
  --padding-6xs: 7px;
  --padding-2xs: 11px;
  --padding-sm: 14px;
  --padding-smi: 13px;
  --padding-6xl: 25px;
  --padding-40xl: 59px;
  --padding-37xl: 56px;
  --padding-66xl: 85px;
  --padding-65xl: 84px;
  --padding-15xl: 34px;
  --padding-73xl: 92px;
  --padding-41xl: 60px;
  --padding-82xl: 101px;
  --padding-47xl: 66px;
  --padding-24xl: 43px;
  --padding-4xl: 23px;
  --padding-517xl: 536px;
  --padding-249xl: 268px;
  --padding-107xl: 126px;
  --padding-63xl: 82px;
  --padding-34xl: 53px;
  --padding-33xl: 52px;
  --padding-35xl: 54px;
  --padding-67xl: 86px;
  --padding-60xl: 79px;
  --padding-mid: 17px;
  --padding-118xl: 137px;
  --padding-111xl: 130px;
  --padding-150xl: 169px;
  --padding-46xl: 65px;
  --padding-52xl: 71px;
  --padding-27xl: 46px;
  --padding-162xl: 181px;
  --padding-99xl: 118px;
  --padding-114xl: 133px;
  --padding-137xl: 156px;
  --padding-20xl: 39px;
  --padding-59xl: 78px;
  --padding-16xl: 35px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-9xs: 4px;
  --br-81xl: 100px;
  --br-45xl: 64px;
  --br-41xl: 60px;
  --br-21xl: 40px;
  --br-11xs: 2px;
  --br-8xs: 5px;
  --br-13xl: 32px;
  --br-5xs: 8px;
  --br-6xs: 7px;
  --br-7xs: 6px;

  /* Effects */
  --elevation-1: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.2);
  --elevation-8: 0px 3px 14px 2px rgba(0, 0, 0, 0.12),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
  --elevation-2: 0px 1px 5px rgba(0, 0, 0, 0.12),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
  --elevation-4: 0px 1px 10px rgba(0, 0, 0, 0.12),
    0px 4px 5px rgba(0, 0, 0, 0.14), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}
